
<% button_text = @group_event.id.present? ? "Update Event" : "Create Event" %>
<%= form_with(model: [@user, @group_event], local: true )do |form| %>
  <% if @group_event.errors.any? %>
    <div id="error_explanations">
      <h2><%= pluralize(group_event.errors.count, "error") %> prohibited this group_event from being saved:</h2>

      <ul>
        <% group_event.errors.full_messages.each do |message| %>
          <li><%= message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>


  <%= form.label :title %>
  <div class="form-group">
    <%= form.text_field :name, requried: true, class: "form-control"  %>
  </div>

  <%= form.label :description %>
  <div class="form-group">
    <%= form.rich_text_area :description, class: "form-control rich-text-area text-left" %>
  </div>
    <%= form.fields_for :location do |f| %>

    <%= f.label :state %>
    <div class="form-group">
      <%= f.text_field :state, class: "form-control"  %>
    </div>

    <%= f.label :city %>
    <div class="form-group">
      <%= f.text_field :city, class: "form-control"  %>
    </div>

    <%= f.label :street %>
    <div class="form-group">
      <%= f.text_field :street, class: "form-control"  %>
    </div>

    <%= f.label :zipcode %>
    <div class="form-group">
      <%= f.text_field :zipcode, class: "form-control"  %>
    </div>
  <%end%>

  <%= form.label :started_at %>
  <div class="form-group" class="datetimepicker">
    <%= form.text_field :started_at ,class: 'form-control datepicker', placeholder: 'yyyy-mm-dd' %>
  </div>

  <%= form.label :ended_at %>
  <div class="form-group">
    <%= form.text_field :ended_at ,class: 'form-control datepicker', placeholder: 'yyyy-mm-dd' %>
  </div>

  <%= form.label "Secret so you are only authorized to edit" %>
  <div class="form-group">
    <%= form.text_field :secret, class: "form-control", value: "" %>
  </div>

  <div class="actions text-center">
    <%= form.submit button_text, class: "btn btn-light " %>
  </div>



  <% if @group_event.id.present? %>
    <% unless @group_event.publish?  %>
      <div class="actions text-center">
        <%= link_to  "Publish", publish_user_group_event_path(@user,@group_event),method: :post, class: "btn btn-light" %>
      <div>
    <% end %>
  <% end %>

<% end %>

<script>
$(function(){
  $('.datepicker').datepicker({dateFormat:'yy-mm-dd'});
})
</script>
