<div class="h1">
  <h1>Group Events</h1>
</div>
<table class="table">
  <thead>
    <tr>
      <th>Title</th>
      <th>Started at</th>
      <th>Ended at</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @user.group_events.each do |group_event| %>
      <tr>
        <td><%= group_event.name %></td>
        <td><%= group_event.started_at %></td>
        <td><%= group_event.ended_at %></td>
        <td><%= link_to 'Show', user_group_event_path(@user,group_event), class: "btn btn-light " %></td>
        <td><%= link_to 'Edit', edit_user_group_event_path(@user,group_event), class: "btn btn-info " %></td>
        <td>
          <%= form_with(model: [@user, group_event]) do |f| %>
            <div>
              <%= f.text_field :secret, value: "", placeholder: "Enter secret to delete" %>
              <%= f.text_field :deleted_at, value: Time.now, hidden: true %>
              <%= f.text_field :delete, value: true, hidden: true %>
              <%= f.submit "Delete", class: "btn btn-danger"%>
            </div>
          <% end %>
        <td>
          <% unless group_event.publish?  %>
            <div class="actions text-center">
              <%= link_to  "Publish", publish_user_group_event_path(@user, group_event),method: :post, class: "btn btn-light" %>
            <div>
          <% end %>
      </tr>
    <% end %>
  </tbody>
</table>

