<p id="notice"><%= notice %></p>
<p id="error"><%= alert %></p>

<div id="group_event">
  <p class="form-control">
    <strong>Name:</strong>
    <%= @group_event.name %>
  </p>
  <p class="form-control">
    <strong>Description:</strong>

    <div class="group-event-description">
      <%= @group_event.description %>
    </div>
  </p>

  <p class="form-control">
    <strong>State:</strong>
    <%= @group_event.location.state %>
  </p>

  <p class="form-control">
    <strong>City:</strong>
    <%= @group_event.location.city %>
  </p>
  <p class="form-control">
    <strong>Street:</strong>
    <%= @group_event.location.street %>
  </p>

  <p class="form-control">
    <strong>ZipCode:</strong>
    <%= @group_event.location.zipcode %>
  </p>

  <p class="form-control">
    <strong>Started at:</strong>
    <%= @group_event.started_at %>
  </p>

  <p class="form-control">
    <strong>Ended at:</strong>
    <%= @group_event.ended_at %>
  </p>

  <div class="text-center">
    <%= link_to  "Edit", edit_user_group_event_path(@user,@group_event), class: "btn btn-light" %>
    <%= link_to 'Back', user_path(@group_event.user), class: "btn btn-light"%>

    <% unless @group_event.publish?%>
      <%= link_to  "Publish", publish_user_group_event_path(@user,@group_event),method: :post, class: "btn btn-light" %>
    <% end %>
  </div>
</div>
