<%= form_with(model: user, local: true) do |form| %>
  <% if user.errors.any? %>
    <div id="error_explanations">
      <h2><%= pluralize(user.errors.count, "error") %> prohibited this user from being saved:</h2>
      <ul>
        <% user.errors.full_messages.each do |message| %>
          <li><%= message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <%= form.label :name %>
  <div class="form-group">
    <%= form.text_field :name, requried: true, class: "form-control"%>
  </div>

  <%= form.label :email %>
  <div class="form-group">
    <%= form.email_field :email, requried: true, class: "form-control"%>
  </div>

  <div class="actions text-center">
    <%= form.submit "Sign up", class: "btn btn-light" %>
  </div>
<% end %>
